body {
  overflow: hidden;
  margin: 0 auto;
  background: #eee;
  font: 6vw arial, sans-serif;
}

.page {
  overflow-y: auto;
  height: 100vh;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
}

svg * {
  stroke-width: 4;
  fill: none;
  stroke: #333;
}


// Card component
.card {
  box-sizing: border-box;
  width: 100%;
  background: #ddd;
  margin: 2em auto;
  padding: 0.1em 0;
  box-sizing: border-box;

  &>* {
    width: 90%;
    margin: 0.8em auto;
  }

  .img {
    display: block;
  }

  .textbox {
    .title {
      font-size: 1.2em;
      font-weight: normal;
      margin: 0;
    }

    .lang {
      font-size: 0.8em;
    }
  }
}

button {
  &.floating-button {
    transition: width .2s, height .2s, bottom .2s, right .2s;
    position: fixed;
    bottom: 4em;
    right: 4em;
    width: 4em;
    height: 4em;
    font-size: 0.7em;
    background: #aaa;
    border: 0.1em dotted #000;
    border-radius: 50%;
  }

  &.load-button {
    margin: 2em 2em 4em;
    width: 4em;
    height: 4em;
    font-size: 0.7em;
    display: inline-block;
    background: #aaa;
    border: 0.1em dotted #000;
    border-radius: 50%;
  }
}

.modal {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #aaaaaa80;
  &.visible {
    display: block;
  }
  .form {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background: #eee;
    width: 80%;

    transform: translate(-50%, -50%);
    .title {
      font-size: 1.2em;
      font-weight: normal;
      padding: 0.4em 1em;
      margin: 0;
      background: #aaa;
    }
    .content {
      padding: 1em;
      font-size: 1em;
      span {
        display: block;
      }
      input {
        margin-left: 1em
      }
      label {
        margin-left: .5em;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 2vw;
  }

  .card {
    display: inline-block;
    width: (100% / 4);
    margin: 2em (100% / 24);
  }

  button {
    &.load-button {
      display: block;
      margin: 0 auto 4em;
    }
  }
}