#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.transitionable {
  transition: left 0.5s, opacity 0s 0.5s;
}

.page {
  position: absolute;
  overflow-x: hidden;
  opacity: 0;
  &.left {
    left: -100vw;
  }
  &.right {
    left: 100vw;
  }
  &.current {
    left: 0vw;
    opacity: 1;
    transition: left 0.5s, opacity 0s;
  }
}