#app {
  position: relative;
}

.transitionable {
  transition: left 0.5s;
}

.page {
  position: absolute;
  &.left {
    left: -100vw;
  }
  &.right {
    left: 100vw;
  }
  &.current {
    left: 0vw;
  }
}