// themes (imported in index.js)
:root .light {
  --color1: #111;
  --colorOn: #333;
  --color2: #333;
  --background1: #eee;
  --background2: #cfcfcf;
  --background3: #aaa;
  --background4: #999;
  --background5: #555;
  --background6: #444;
}

:root .lightPlus {
  --color1: #111;
  --colorOn: #e20;
  --color2: #333;
  --background1: #eee;
  --background2: #cfcfcf;
  --background3: #aaa;
  --background4: #999;
  --background5: #555;
  --background6: #b50;
}

:root .dark {
  --color1: #e0e0e0;
  --colorOn: #aaaaaa;
  --color2: #aaaaaa;
  --background1: #121212;
  --background2: #333;
  --background3: #777;
  --background4: #999;
  --background5: #aaa;
  --background6: #ccc;
}

:root .darkPlus {
  --color1: #e0e0e0;
  --colorOn: #f61;
  --color2: #aaaaaa;
  --background1: #121212;
  --background2: #333;
  --background3: #777;
  --background4: #999;
  --background5: #aaa;
  --background6: #e50;
}
